{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plants list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Sol</th>
                <th>Graines / m2</th>
                <th>Profondeur</th>
                <th>Ligne</th>
                <th>Rang</th>
                <th>Arrosage</th>
                <th>Levée</th>
                <th>Récolte</th>
                <th>Semis sous abri</th>
                <th>Semis en terre</th>
                <th>Plantation</th>
                <th>Récoltes</th>
                <th>Friendlyplants</th>
                <th>Enemyplants</th>
                <th>Tips</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr data-href="{{ path('admin_plant_show', { 'id': plant.id }) }}">
                <td>{{ plant.name }}</td>
                <td>
                    {% for soil in plant.soil %}
                        {{ soil }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ plant.seedsQuantity }} {{ plant.seedsQuantityUnit }}</td>
                <td>{{ plant.seedingDepth }} cm</td>
                <td>{{ plant.lineDistance }} cm</td>
                <td>{{ plant.lineInterval }} cm</td>
                <td>{{ plant.watering }}</td>
                <td>
                    {% if plant.timeToSproutStart %}
                        {{ plant.timeToSproutStart }}
                        {% if plant.timeToSproutEnd %}
                            - {{ plant.timeToSproutEnd }}
                        {% endif %}
                        j
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if plant.timeToHarvestStart %}
                        {{ plant.timeToHarvestStart }}
                        {% if plant.timeToHarvestEnd %}
                            - {{ plant.timeToHarvestEnd }}
                        {% endif %}
                        j
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if plant.underCoverStart %}
                        {{ date('2000-' ~ plant.underCoverStart ~ '-1')|date("M") }}

                        {% if plant.underCoverEnd %}
                            - {{ date('2000-' ~ plant.underCoverEnd ~ '-1')|date("M") }}
                        {% endif %}
                    {% else %}
                            -
                    {% endif %}
                </td>
                <td>
                    {% if plant.inGroundStart %}
                        {{ date('2000-' ~ plant.inGroundStart ~ '-1')|date("M") }}

                        {% if plant.inGroundEnd %}
                            - {{ date('2000-' ~ plant.inGroundEnd ~ '-1')|date("M") }}
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if plant.plantingStart %}
                        {{ date('2000-' ~ plant.plantingStart ~ '-1')|date("M") }}

                        {% if plant.plantingEnd %}
                            - {{ date('2000-' ~ plant.plantingEnd ~ '-1')|date("M") }}
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {{ date('2000-' ~ plant.harvestStart ~ '-1')|date("M") }}

                    {% if plant.harvestEnd %}
                        - {{ date('2000-' ~ plant.harvestEnd ~ '-1')|date("M") }}
                    {% endif %}
                </td>
                <td>
                    {% for plant in plant.friendlyPlants %}
                        {{ plant }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for plant in plant.enemyPlants %}
                        {{ plant }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ plant.tips }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td class="control" colspan="18">
                    <a href="{{ path('admin_plant_new') }}">Create a new plant</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
