{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Soil</th>
                <th>Seedsquantity</th>
                <th>Seedingdepth</th>
                <th>Linedistance</th>
                <th>Lineinterval</th>
                <th>Watering</th>
                <th>TimeToSprout</th>
                <th>TimeToHarvest</th>
                <th>Undercoverstart</th>
                <th>Ingroundstart</th>
                <th>Plantingstart</th>
                <th>Harveststart</th>
                <th>Friendlyplants</th>
                <th>Enemyplants</th>
                <th>Tips</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr>
                <td><a href="{{ path('admin_plant_show', { 'id': plant.id }) }}">{{ plant.id }}</a></td>
                <td>{{ plant.name }}</td>
                <td>
                    {% for soil in plant.soil %}
                        {{ soil }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ plant.seedsQuantity }} {{ plant.seedsQuantityUnit }}</td>
                <td>{{ plant.seedingDepth }} cm</td>
                <td>{{ plant.lineDistance }} cm</td>
                <td>{{ plant.lineInterval }} cm</td>
                <td>{{ plant.watering }}</td>
                <td>{{ plant.timeToSprout }} j</td>
                <td>{{ plant.timeToHarvest }} j</td>
                <td>
                    {% if plant.underCoverStart %}
                        {{ date('2000-' ~ plant.underCoverStart ~ '-1')|date("M") }} -
                        {{ date('2000-' ~ plant.underCoverEnd ~ '-1')|date("M") }}
                    {% else %}
                            -
                    {% endif %}
                </td>
                <td>
                    {% if plant.inGroundStart %}
                        {{ date('2000-' ~ plant.inGroundStart ~ '-1')|date("M") }} -
                        {{ date('2000-' ~ plant.inGroundEnd ~ '-1')|date("M") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if plant.plantingStart %}
                        {{ date('2000-' ~ plant.plantingStart ~ '-1')|date("M") }} -
                        {{ date('2000-' ~ plant.plantingEnd ~ '-1')|date("M") }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {{ date('2000-' ~ plant.harvestStart ~ '-1')|date("M") }} -
                    {{ date('2000-' ~ plant.harvestEnd ~ '-1')|date("M") }}
                </td>
                <td>
                    {% for plant in plant.friendlyPlants %}
                        {{ plant }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for plant in plant.enemyPlants %}
                        {{ plant }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ plant.tips }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_plant_show', { 'id': plant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_plant_edit', { 'id': plant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_plant_new') }}">Create a new plant</a>
        </li>
    </ul>
{% endblock %}
